{% extends 'django/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <!--<h1><a href="">{{ post.title }}</a></h1>-->
              <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
              <!-- above is a link to show blog post that we want to create -->
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}      
{% endblock %}

